#servicesDetails {
  padding-top: 30px;
  /* margin-bottom: 100px; */
}

.services-details > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  align-items: center;
  gap: 1rem;
}

.services-details > div > div {
  background: rgba(55, 108, 198, 1);
  padding: 35px;
  cursor: pointer;
}

.services-details > div > div:hover {
  background-color: #b1383d;
}

.services-details > div > div > img {
  width: 55.84px;
  height: 54.77px;
  max-width: 55.84px;
}

.services-details > div > div > div > h2 {
  color: #fff;
  font-family: Jost;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25;
}

.services-details > div > div > div > p {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  /* 173.333% */
  padding-block: 1rem;
}

.services-details .readMoreBtn {
  color: #fff;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 173.333% */
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 400px) {
  .services-details > div > div {
    flex-wrap: wrap;
  }
}
